{% extends 'layout.html.twig' %}

{% block header_title %}Authentification{% endblock %}

{% block header_css %}
<style>
.border-primary {
    border: 1px solid rgb(0, 102, 135);
    border-radius: 6px !important;
    box-shadow: 4px 4px 1px rgba(100, 100, 100, 0.3);
}
</style>
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row hidden-sm hidden-xs">
        <div class="col text-center" style="height:calc(50vh - 300px);">

        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center col-md-offset-1">
             <h1 style="margin:0;"><span class="easyamap easyamap-medium">easy<span>amap</span></span></h1>
             <h4>{{ setting.name }}</h4>
             <p class="hidden-sm hidden-xs">
                <img src="{{ setting.logoLargeUrl }}" style="width:256px;" />
             </p>
         </div>
        <div class="col-md-6">
            <div class="jumbotron border-primary">
                <form action="{{ path('security_login') }}" method="post">
                    <fieldset>

                        <div class="form-group">
                            <label for="username">Nom d'utilisateur ou adresse de courriel</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" {{ stimulus_target('login', 'username') }} />
                        </div>

                        <div class="form-group form-group-password">
                            <label for="password">Mot de passe</label>
                             <input type="password" id="password" name="_password" class="form-control" {{ stimulus_target('login', 'password') }} />
                        </div>
                        <div class="form-group text-right">
                            <label>
                                <a href="{{ path('forgotten_password') }}">Mot de passe oublié?</a>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="_remember_me" checked/>
                                Se souvenir de moi
                            </label>
                        </div>
                        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary btn-block">
                            <span class="glyphicon glyphicon-log-in"></span> Connexion
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row visible-sm visible-xs">
            <div class="col text-center">
                <img src="{{ setting.logoLargeUrl }}" style="width:256px;" />
            </div>
        </div>

    </div>



{% endblock %}


{% block footer %}
     {% include  'Partials/_footer.html.twig' with {'setting':  setting} %}
{% endblock %}