{% extends 'layout.html.twig' %}

{% block title %}Réinitialeisation de mot de passe{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>{{ message|raw }}</p>
        </div>

    {% endfor %}
{% endfor %}
        </div>
    </div>



<section class="container">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>Réinitialisation de mot de passe</h4>
            {{ form_start(requestPassForm) }}
                {{ form_row(requestPassForm.email) }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(requestPassForm) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <br /><br /><br />
            <a href="{{ path('security_login') }}">Retour à l'écran de connexion</a>
        </div>
    </div>
</section>

{% endblock %}